.main {
    width: 720px;
}

h1 {
    padding: 0px 30px;
}

ul {
    display:flex;
    flex-direction: row;
    list-style: none
}

li {
    background-color:#085411;
    padding: 10px 30px;
    color: white
}

li:hover {
    background-color: #123416;

}


@media screen and (max-width:600px) {
    ul {

        flex-direction: column;
    }
    
    }




