<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Document</title>
</head>
<body>
<div class="temas">
    <div class="temauno">
            <div class="box caja1"><span class="base">Base</span></div> 
            <div class="box caja2"><span class="important">Important</span></div> 
            <div class="box caja3"><span class="warning">Warning</span></div> 
            <div class="nobox"><span class="font1">Principal font</span></div> 
            <div class="nobox"><span class="font2">Secondary font</span></div>
            <div class="shadow"><span class="shadow-box">Box width shadow</span></div>
</div> 
<div class="temados">
    <div class="box caja4"><span class="base">Base</span></div> 
    <div class="box caja5"><span class="important">Important</span></div> 
    <div class="box caja6"><span class="warning">Warning</span></div> 
    <div class="nobox"><span class="font1">Principal font</span></div> 
    <div class="nobox"><span class="font2">Secondary font</span></div>
    <div class="shadow1"><span class="shadow-box">Box width shadow</span></div>
    </div>
</body>
</html>